body {
    border-style: soild 2px rgb(201, 19, 242);
    width:648px:
    margin-left:auto;
    margin-right:auto;
  }
    
  p{
    border-style: soild 2px rgb(201, 19, 242);
    margin-bottom: 2em;
    padding: 1em;
  }